{% load static %}
<link rel="stylesheet" href="{% static 'marchmadness/style.css' %}">
<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>March Madness</title>
  </head>
  <body>
    <h2>{{ year }}</h2>
    <ul>
      <li><a href="{% url 'initialize_bracket' year %}">Guided selection</a></li>
      <li><a href="{% url 'predict' %}">Prediction Methods (Not yet available)</a></li>
      <li><a href="{% url 'index' %}">Back to Current Year</a></li>
    </ul>
  </body>
</html>
