{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>March Madness</title>
  </head>
  <body>
    <h1>{{ welcome_message }}</h1>
    <p><a href="{% url 'school' %}">View Schools</a></p>
    <h2>Current Season</h2>
    <ul>
      <li><a href="{% url 'evaluate' 2024 'top_left' 'first_four' 'first_four' %}">Guided selection</a></li>
      <li><a href="{% url 'predict' %}">Prediction Methods</a></li>
    </ul>
    <h2>Previous Seasons</h2>
  </body>
</html>
