<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>{{ name }}</title>
  </head>
  <body>
    <p>School Name: {{ name }}</p>
    <p>Nickname: {{ nickname }}</p>
    <p>Location: {{ location }}</p>
    <p>Private: {{ is_private }}</p>
    <p>Home Arena: {{ home_arena }}</p>
    <p>Conference: {{ conference }}</p>
    <p>Colors: {{ primary_color }}, {{ secondary_color }}</p>
    <p>Tournament Appearances: {{ tournament_appearances }}</p>
    <p>Final Four Appearances: {{ final_four_appearances }}</p>
    <p>National Championships: {{ championship_wins }}</p>
  </body>
</html>
