{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ school_name }} Games {{ season }}</title>
</head>
<body>
    <h1>Games for {{ school_name }} ({{ season }})</h1>
    {% for game in games %}
        {% if game.home_game %}
            {% if game.win %}
                <p>{{ game.date }}: vs. {{ game.opponent }}: {{ game.school_score }}-{{ game.opponent_score }} (W)</p>
            {% else %}
                <p>{{ game.date }}: vs. {{ game.opponent }}: {{ game.school_score }}-{{ game.opponent_score }} (L)</p>
            {% endif %}
        {% else %}
            {% if game.win %}
                <p>{{ game.date }}: @ {{ game.opponent }}: {{ game.school_score }}-{{ game.opponent_score }} (W)</p>
            {% else %}
                <p>{{ game.date }}: @ {{ game.opponent }}: {{ game.school_score }}-{{ game.opponent_score }} (L)</p>
            {% endif %}
        {% endif %}
    {% endfor %}
</body>
</html>